export python="$HOME/micromamba/envs/practice/bin/python"
export pip="$HOME/micromamba/envs/practice/bin/pip"
export dvc_sync="$NY_PROJECT_ROOT/public_helper_functions/version_control_helpers/sync_dvc.sh"
