**/.DS_Store
# Ignore any YYYY-MM-DD named directory under outputs that has hydra logs in it.
**/outputs/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/
**/.ipynb_checkpoints/**
**/.virtual_documents/**
*.tmp
*.tsv
*.csv
*.tfevents
*.pkl
*.json
*.bak

# Visualization outputs
*.png
!examples/*.png
*.jpeg
*.pdf
*.tiff
/mlruns
files/
*.txt
/.troubleshoot/
portfolio_article
.ruff_cache/
.prefectignore
notebooks/
TODO.txt
bin/
gather_content/
.envrc
.env
