/.pre-commit-config.yaml
**/.DS_Store
# Ignore any YYYY-MM-DD named directory under outputs that has hydra logs in it.
**/outputs/[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]/
*.log
__pycache__/
*.pyc
src/data_inspection/outputs/
*.yaml
!documentation/chapter*/*.yaml
!documentation_v2/*.yaml
!dvc.yaml
**/.ipynb_checkpoints/**
**/.virtual_documents/**
*.tmp
*.tsv
*.csv
*.tfevents
*.pkl
*.json

# Visualization outputs
*.png
*.jpeg
*.pdf
*.tiff
/mlruns
files/
*.txt
/outputs/mlflow/
/outputs/modeling/
/outputs/transformation/
/.troubleshoot/
portfolio_article
documentation_v2/
trouble/
prefect.yaml
.ruff_cache/
.prefectignore
notebooks/
TODO.txt
bin/
gather_content/
