aiobotocore @ file:///home/conda/feedstock_root/build_artifacts/aiobotocore_1741606508148/work
aiohappyeyeballs @ file:///home/conda/feedstock_root/build_artifacts/aiohappyeyeballs_1741775197943/work
aiohttp @ file:///Users/runner/miniforge3/conda-bld/aiohttp_1742268650014/work
aiohttp-retry @ file:///home/conda/feedstock_root/build_artifacts/aiohttp-retry_1660544713664/work
aioitertools @ file:///home/conda/feedstock_root/build_artifacts/aioitertools_1735329051909/work
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1734342155601/work
aiosqlite @ file:///home/conda/feedstock_root/build_artifacts/aiosqlite_1734081128935/work
alembic @ file:///home/conda/feedstock_root/build_artifacts/alembic_1741181834993/work
amqp @ file:///home/conda/feedstock_root/build_artifacts/amqp_1733906301603/work
annotated-types @ file:///home/conda/feedstock_root/build_artifacts/annotated-types_1733247046149/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1726931217849/work
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1733753955715/work
apprise @ file:///home/conda/feedstock_root/build_artifacts/apprise_1736463979473/work
asgi-lifespan @ file:///home/conda/feedstock_root/build_artifacts/asgi-lifespan_1734814003568/work
astroid @ file:///Users/runner/miniforge3/conda-bld/astroid_1741614718251/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
async_exit_stack @ file:///home/conda/feedstock_root/build_artifacts/async-exit-stack_1735589545796/work
asyncpg @ file:///Users/runner/miniforge3/conda-bld/asyncpg_1726599847617/work
asyncssh @ file:///home/conda/feedstock_root/build_artifacts/asyncssh_1739897873808/work
atpublic @ file:///home/conda/feedstock_root/build_artifacts/atpublic_1737771474411/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
bcrypt @ file:///Users/runner/miniforge3/conda-bld/bcrypt_1740762495716/work
billiard @ file:///Users/runner/miniforge3/conda-bld/billiard_1726941191443/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_bleach_1737382993/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1740582741261/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1740533726826/work
Brotli @ file:///Users/runner/miniforge3/conda-bld/brotli-split_1725267563793/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1740094013202/work
cattrs @ file:///home/conda/feedstock_root/build_artifacts/cattrs_1733506656399/work
celery @ file:///home/conda/feedstock_root/build_artifacts/celery_1734708894737/work
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1739515848642/work/certifi
cffi @ file:///Users/runner/miniforge3/conda-bld/cffi_1725560578465/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1735929714516/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1734858813237/work
click-didyoumean @ file:///home/conda/feedstock_root/build_artifacts/click-didyoumean_1734293070305/work
click-plugins @ file:///home/conda/feedstock_root/build_artifacts/click-plugins_1733731077999/work
click-repl @ file:///home/conda/feedstock_root/build_artifacts/click-repl_1694959444233/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1736947526808/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
colorlog @ file:///Users/runner/miniforge3/conda-bld/colorlog_1724959615439/work
configobj @ file:///home/conda/feedstock_root/build_artifacts/configobj_1734075408845/work
contourpy @ file:///Users/runner/miniforge3/conda-bld/contourpy_1731428374110/work
coolname @ file:///home/conda/feedstock_root/build_artifacts/coolname_1673305982850/work
croniter @ file:///home/conda/feedstock_root/build_artifacts/croniter_1733920570011/work
cryptography @ file:///Users/runner/miniforge3/conda-bld/cryptography-split_1740893615491/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
databricks-sdk @ file:///home/conda/feedstock_root/build_artifacts/databricks-sdk_1741813545640/work
dateparser @ file:///home/conda/feedstock_root/build_artifacts/dateparser_1733285032448/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1740384970518/work
Deprecated @ file:///home/conda/feedstock_root/build_artifacts/deprecated_1737986966356/work
dictdiffer @ file:///home/conda/feedstock_root/build_artifacts/dictdiffer_1734344338200/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1733249551891/work
diskcache @ file:///home/conda/feedstock_root/build_artifacts/diskcache_1734196270869/work
distro @ file:///home/conda/feedstock_root/build_artifacts/distro_1734729835256/work
docker @ file:///home/conda/feedstock_root/build_artifacts/docker-py_1734056256783/work
dpath @ file:///home/conda/feedstock_root/build_artifacts/dpath_1718243458415/work
dulwich @ file:///Users/runner/miniforge3/conda-bld/dulwich_1740965177939/work
durationpy @ file:///home/conda/feedstock_root/build_artifacts/durationpy_1734343542351/work
dvc @ file:///home/conda/feedstock_root/build_artifacts/dvc_1739627573960/work
dvc-data @ file:///home/conda/feedstock_root/build_artifacts/dvc-data_1738341724641/work
dvc-http @ file:///home/conda/feedstock_root/build_artifacts/dvc-http_1734723780438/work
dvc-objects @ file:///home/conda/feedstock_root/build_artifacts/dvc-objects_1734661413897/work
dvc-render @ file:///home/conda/feedstock_root/build_artifacts/dvc-render_1734673264834/work
dvc-s3 @ file:///home/conda/feedstock_root/build_artifacts/dvc-s3_1736267861261/work
dvc-studio-client @ file:///home/conda/feedstock_root/build_artifacts/dvc-studio-client_1734664628961/work
dvc-task @ file:///home/conda/feedstock_root/build_artifacts/dvc-task_1734664522689/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1733327148154/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1693161273574/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1741969488311/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1741793020411/work
flatten-dict @ file:///home/conda/feedstock_root/build_artifacts/flatten-dict_1629457542349/work
flufl.lock @ file:///home/conda/feedstock_root/build_artifacts/flufl.lock_1722809909247/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1738940341450/work
frozenlist @ file:///Users/runner/miniforge3/conda-bld/frozenlist_1737645287563/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1741403990995/work
funcy @ file:///home/conda/feedstock_root/build_artifacts/funcy_1734381131891/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1738926421307/work
git-filter-repo @ file:///home/conda/feedstock_root/build_artifacts/git-filter-repo_1735551402582/work
gitdb @ file:///home/conda/feedstock_root/build_artifacts/gitdb_1735887193964/work
GitPython @ file:///home/conda/feedstock_root/build_artifacts/gitpython_1735929639977/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1737618250101/work
grandalf @ file:///home/conda/feedstock_root/build_artifacts/grandalf_1734664611384/work
graphene @ file:///home/conda/feedstock_root/build_artifacts/graphene_1734272316656/work
graphql-core @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_graphql-core_1738014771/work
graphql-relay @ file:///home/conda/feedstock_root/build_artifacts/graphql-relay_1734272429466/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1733791968395/work
greenlet @ file:///Users/runner/miniforge3/conda-bld/greenlet_1734532814058/work
griffe @ file:///home/conda/feedstock_root/build_artifacts/griffe_1742379028974/work
gssapi @ file:///Users/runner/miniforge3/conda-bld/python-gssapi_1733827774632/work
gto @ file:///home/conda/feedstock_root/build_artifacts/gto_1734661367984/work
gunicorn @ file:///Users/runner/miniforge3/conda-bld/gunicorn_1724955954112/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1733327467879/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1738578511449/work
hpack @ file:///home/conda/feedstock_root/build_artifacts/hpack_1737618293087/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_httpcore_1731707562/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1733663348460/work
humanize @ file:///home/conda/feedstock_root/build_artifacts/humanize_1739952453614/work
hydra-core @ file:///home/conda/feedstock_root/build_artifacts/hydra-core_1736934708722/work
hydra-lsp @ file:///home/conda/feedstock_root/build_artifacts/hydra-lsp_1742400048312/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1737618333194/work
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1733211830134/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1701625711742/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1733231327252/work
intervaltree @ file:///home/conda/feedstock_root/build_artifacts/intervaltree_1683532206518/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1740643408806/work
iterative-telemetry @ file:///home/conda/feedstock_root/build_artifacts/iterative-telemetry_1739252628161/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
jinja2_humanize_extension @ file:///home/conda/feedstock_root/build_artifacts/jinja2-humanize-extension_1734858876329/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1733229141657/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1733736026804/work
jsonpatch @ file:///home/conda/feedstock_root/build_artifacts/jsonpatch_1733814567314/work
jsonpointer @ file:///Users/runner/miniforge3/conda-bld/jsonpointer_1725302931775/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1733472696581/work
jsonschema-specifications @ file:///tmp/tmpk0f344m9/src
kaggle @ file:///home/conda/feedstock_root/build_artifacts/kaggle_1736732284024/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1736908218616/work
kombu @ file:///Users/runner/miniforge3/conda-bld/kombu_1726068914381/work
kubernetes @ file:///home/conda/feedstock_root/build_artifacts/python-kubernetes_1734343772689/work
lsprotocol @ file:///home/conda/feedstock_root/build_artifacts/lsprotocol_1734878583824/work/dist
Mako @ file:///home/conda/feedstock_root/build_artifacts/mako_1738719574846/work
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1710435156458/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1733250460757/work
MarkupSafe @ file:///Users/runner/miniforge3/conda-bld/markupsafe_1733219728782/work
matplotlib==3.10.1
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1733216466933/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1733255585584/work
mlflow @ file:///Users/runner/miniforge3/conda-bld/mlflow-split_1742231239413/work
mlflow-skinny @ file:///Users/runner/miniforge3/conda-bld/mlflow-split_1742231239413/work/skinny
multidict @ file:///Users/runner/miniforge3/conda-bld/multidict_1742308189787/work
munkres==1.1.4
mypy @ file:///Users/runner/miniforge3/conda-bld/mypy-split_1738766842593/work
mypy_extensions @ file:///home/conda/feedstock_root/build_artifacts/mypy_extensions_1733230897951/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
nodeenv @ file:///home/conda/feedstock_root/build_artifacts/nodeenv_1734112117269/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1742254909247/work/dist/numpy-2.2.4-cp312-cp312-macosx_11_0_arm64.whl#sha256=0d8fba56a4047fed12f3935375f8e330e0a2f24420ffaeaa05ab556e39edc34b
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1733752848439/work
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
opentelemetry-api @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-api_1741826795999/work
opentelemetry-sdk @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-sdk_1741977200505/work
opentelemetry-semantic-conventions @ file:///home/conda/feedstock_root/build_artifacts/opentelemetry-semantic-conventions_1741973297362/work
optuna @ file:///home/conda/feedstock_root/build_artifacts/optuna_1737365177243/work
orjson @ file:///Users/runner/miniforge3/conda-bld/orjson_1737229074874/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1733203243479/work
pandas @ file:///Users/runner/miniforge3/conda-bld/pandas_1726878422361/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1738679121080/work
pathlib2 @ file:///Users/runner/miniforge3/conda-bld/pathlib2_1725350152410/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1733233363808/work
pendulum @ file:///Users/runner/miniforge3/conda-bld/pendulum_1695414714440/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1735929775475/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1733344503739/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1742485085/work
-e git+https://github.com/kletobias/advanced-mlops-lifecycle-hydra-mlflow-optuna-dvc@e7fa4eba3f077b419883aac7084f05f12b34172a#egg=portfolio_medical_drg_ny_gh
prefect @ file:///home/conda/feedstock_root/build_artifacts/prefect_1742253758262/work
prometheus_client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1733327310477/work
prometheus_flask_exporter @ file:///home/conda/feedstock_root/build_artifacts/prometheus_flask_exporter_1741758851275/work
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1737453357274/work
propcache @ file:///Users/runner/miniforge3/conda-bld/propcache_1737635647354/work
protobuf @ file:///Users/runner/miniforge3/conda-bld/protobuf_1741124685770/work/bazel-bin/python/dist/protobuf-5.29.3-cp312-abi3-macosx_11_0_arm64.whl#sha256=00acabf9adbfb55d6abcb5a5fa1cd57b260d1066e52c64d8830274e944b34d07
psutil @ file:///Users/runner/miniforge3/conda-bld/psutil_1705722460205/work
pyarrow==19.0.1
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1733217608156/work
pyasn1_modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1733324602540/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1737761369378/work
pydantic_core @ file:///Users/runner/miniforge3/conda-bld/pydantic-core_1734571536583/work
pydot @ file:///Users/runner/miniforge3/conda-bld/pydot_1737244124410/work
pygit2 @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_pygit2_1737056882/work
pygls @ file:///home/conda/feedstock_root/build_artifacts/pygls_1734964975547/work/dist
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1736243443484/work
pygtrie @ file:///home/conda/feedstock_root/build_artifacts/pygtrie_1734664549100/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1732782409051/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pylint_1741550910/work
PyNaCl @ file:///Users/runner/miniforge3/conda-bld/pynacl_1725739281157/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1737243356468/work
pypandoc @ file:///home/conda/feedstock_root/build_artifacts/pypandoc_1736408856226/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1735698276679/work
pyright @ file:///Users/runner/miniforge3/conda-bld/pyright_1742467239226/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1733217236728/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
python-dotenv @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dotenv_1742948348/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1734420773152/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1733756245724/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1706549378554/work
pytzdata @ file:///home/conda/feedstock_root/build_artifacts/pytzdata_1736409512899/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1733738580568/work
PyYAML @ file:///Users/runner/miniforge3/conda-bld/pyyaml_1737454693669/work
querystring_parser @ file:///home/conda/feedstock_root/build_artifacts/querystring_parser_1734554621893/work
readchar @ file:///home/conda/feedstock_root/build_artifacts/readchar_1730725400938/work
referencing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_referencing_1737836872/work
regex @ file:///Users/runner/miniforge3/conda-bld/regex_1730952231294/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1733217035951/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1733772243268/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich_1733342254348/work/dist
rpds-py @ file:///Users/runner/miniforge3/conda-bld/bld/rattler-build_rpds-py_1740153151/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1733662684165/work
ruamel.yaml @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml_1698138733235/work
ruamel.yaml.clib @ file:///Users/runner/miniforge3/conda-bld/ruamel.yaml.clib_1728724504988/work
ruff @ file:///Users/runner/miniforge3/conda-bld/ruff_1742502481383/work
s3fs @ file:///home/conda/feedstock_root/build_artifacts/s3fs_1741440613142/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1740681574349/work
scikit-learn @ file:///Users/runner/miniforge3/conda-bld/scikit-learn_1736496824048/work/dist/scikit_learn-1.6.1-cp312-cp312-macosx_11_0_arm64.whl#sha256=b73b4426f1e03a197903eddede31a62b6859e1eb5d298b145d003d742720c9f7
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790747129/work/dist/scipy-1.15.2-cp312-cp312-macosx_11_0_arm64.whl#sha256=6377b40ec578974afe4a77d938cf02b8494de15d4ba3ab3b9cb5f71d23b06a92
scmrepo @ file:///home/conda/feedstock_root/build_artifacts/scmrepo_1738359816593/work
semver @ file:///home/conda/feedstock_root/build_artifacts/semver_1737841553927/work
setuptools==75.8.2
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1733300899265/work
shortuuid @ file:///home/conda/feedstock_root/build_artifacts/shortuuid_1734272317000/work
shtab @ file:///home/conda/feedstock_root/build_artifacts/shtab_1734664526617/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
smmap @ file:///home/conda/feedstock_root/build_artifacts/smmap_1739781697784/work
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1733244044561/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
SQLAlchemy @ file:///Users/runner/miniforge3/conda-bld/sqlalchemy_1726596214656/work
sqlparse @ file:///home/conda/feedstock_root/build_artifacts/sqlparse_1734007102193/work
sqltrie @ file:///home/conda/feedstock_root/build_artifacts/sqltrie_1739984874333/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1733749896243/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1741878222898/work
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1734091811753/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1733230743009/work
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1735661334605/work
typer==0.15.2
typer-slim==0.15.2
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1733188668063/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1737541069190/work
tzlocal @ file:///Users/runner/miniforge3/conda-bld/tzlocal_1739472083404/work
ujson @ file:///Users/runner/miniforge3/conda-bld/ujson_1724954437531/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1736692573761/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1734859416348/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn_1734292939144/work
vine @ file:///home/conda/feedstock_root/build_artifacts/vine_1733906372582/work
voluptuous @ file:///home/conda/feedstock_root/build_artifacts/voluptuous_1734219447985/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1733231326287/work
webencodings @ file:///home/conda/feedstock_root/build_artifacts/webencodings_1733236011802/work
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1733157342724/work
websockets @ file:///Users/runner/miniforge3/conda-bld/websockets_1727013355356/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
wheel==0.45.1
wrapt @ file:///Users/runner/miniforge3/conda-bld/wrapt_1736869483984/work
yarl @ file:///Users/runner/miniforge3/conda-bld/yarl_1737575870898/work
zc.lockfile @ file:///home/conda/feedstock_root/build_artifacts/zc.lockfile_1732886357525/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
zstandard==0.23.0
